node_modules

# Don't push our production build
dist

# Don't push our coverage files for jest
coverage

# MacOS creates these files
.DS_Store

# Never push our environment variables
.env
.env.*
!.env.example

# Cypress videos from our headless runs should not be pushed to github
cypress/videos
cypress/screenshots


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
combined.log
error.log

# Build and Test Artifacts
dist
dist-ssr
coverage
cypress/videos
cypress/screenshots
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
CHECK_LATER.md
DATABASE_SCHEMA.md
PR_DETAILS.md
PR_PLAN.md
rules.md
server/combined.log
server/error.log
server/*.log