# This is the port our server will be running on
PORT=3000

# MongoDB connection string - replace with your own credentials
# For MongoDB Atlas: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority

# When running cypress tests, make sure to change the database
# MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/cypressDatabase?retryWrites=true&w=majority